## install boto3 for creating the cluster

In [15]:
# !pip install boto3
# !pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\omar\anaconda3\lib\site-packages (from ipython-sql) (1.4.19)
Requirement already satisfied: six in c:\users\omar\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Collecting sqlparse
  Downloading sqlparse-0.4.3-py3-none-any.whl (42 kB)
     -------------------------------------- 42.8/42.8 kB 692.1 kB/s eta 0:00:00
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\omar\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\users\omar\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: jedi>=0.16 in c:\users\omar\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\omar\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: pickleshare in c:\users\omar\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\omar\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: colorama in c:\users\omar\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\omar\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: traitlets>=4.2 in c:\users\omar\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: pygments in c:\users\omar\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.9.0)
Requirement already satisfied: backcall in c:\users\omar\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\omar\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.9)
Requirement already satisfied: importlib-metadata in c:\users\omar\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (3.10.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\omar\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\omar\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\omar\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: typing-extensions>=3.6.4 in c:\users\omar\anaconda3\lib\site-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.10.0.0)
Requirement already satisfied: zipp>=0.5 in c:\users\omar\anaconda3\lib\site-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.5.0)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13699 sha256=0b59040af854ad90df634388ca7621a435ae2160ab301af4f7f6fc8c09063195
  Stored in directory: c:\users\omar\appdata\local\pip\cache\wheels\b2\7f\f6\f180315b584f00445045ff1699b550fa895d09471337ce21c6
Successfully built prettytable
Installing collected packages: prettytable, sqlparse, ipython-sql
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.3

# If you already created a cluster then go to step 2 directly with the new credentials

# Step 1 Create a Cluster

### Import the lib important for the project

In [16]:
import pandas as pd
import boto3
import json
import configparser
%load_ext sql

## Load Credentials

In [71]:
# Read the configuration file
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

# AWS
KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')
REGION_NAME            = config.get('AWS','REGION_NAME')

# DWH
DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")
DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")
DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

# S3
LOG_DATA               = config.get('S3', 'LOG_DATA')
LOG_JSONPATH           = config.get('S3', 'LOG_JSONPATH')
SONG_DATA              = config.get('S3', 'SONG_DATA')

In [72]:
# Check the credentials
pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0  DWH_CLUSTER_TYPE        multi-node
1  DWH_NUM_NODES           2
2  DWH_NODE_TYPE           dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4  DWH_DB                  dwh
5  DWH_DB_USER             dwhuser
6  DWH_DB_PASSWORD         Passw0rd
7  DWH_PORT                5439
8  DWH_IAM_ROLE_NAME       dwhRole

## Create clients for IAM, EC2, S3 and Redshift

In [73]:
ec2 = boto3.resource('ec2',
                       region_name=REGION_NAME,
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name=REGION_NAME,
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name=REGION_NAME
                  )

redshift = boto3.client('redshift',
                       region_name= REGION_NAME,
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

## Check out the sample data sources on S3

In [38]:
# Calculate the total number of JSON files in the folder 's3://udacity-dend/log_data'
count_logs = sum(1 for _ in s3.Bucket('udacity-dend').objects.filter(Prefix='log_data'))

print("Total number of logs: " + str(count_logs))

Total number of logs: 31

In [39]:
count_songs = sum(1 for _ in s3.Bucket('udacity-dend').objects.filter(Prefix='song_data'))

print("Total number of songs: " + str(count_logs))

Total number of songs: 31

## Create a new IAM user
Create an IAM Role that makes Redshift able to access S3 bucket (ReadOnly)

In [40]:
from botocore.exceptions import ClientError

#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::701898129859:role/dwhRole

## Create Redshift Cluster

In [41]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

## 2.1 *Describe* the cluster to see its status
- run this block several times until the cluster status becomes `Available`

In [44]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

C:\Users\Omar\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cm4n7audtsr1.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-0d153cb688ae4965e
7,NumberOfNodes,2

## Take note of the cluster endpoint and role ARN
DO NOT RUN THIS unless the cluster status becomes "Available". Make sure you are checking your Amazon Redshift cluster in the **us-west-2** region

In [45]:
# Get the Redshift endpoint and the ARN role
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']

# Show the endpoint
print("Redshift enpoint: '" + DWH_ENDPOINT + "'")

Redshift enpoint: 'dwhcluster.cm4n7audtsr1.us-west-2.redshift.amazonaws.com'

Is important to store this endpoint URL in the file dwh.cfg in the parameters [DWH].DWH_ENDPOINT and [CLUSTER].HOST.

The value of DWH_ROLE_ARN it also needed to be saved in the file dwh.cfg in the parameter [IAM_ROLE].ARN.

## Open an incoming TCP port to access the cluster ednpoint

In [46]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-0dae4ac3a1a83e065')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

# Step 2 Make sure you can connect to the cluster

In [47]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [48]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cm4n7audtsr1.us-west-2.redshift.amazonaws.com:5439/dwh

# STEP 3 Create Schema and Insert into Tables

In [106]:
# Create the tables in the database
%run create_tables.py

Connecting to the database
Successfuly connected to the database
Dropping tables if exists
Creating tables if not exists
Completed the dropping and creation of the schema

In [107]:
# Run the ETL script to upload data to the Redshift cluster
!python etl.py

Connecting to the database
Successfuly connected to the database
Loading staging_tables
Inserting to tables
Completed the loading and insertion of the data

# STEP 4 Test and Analyize the Schema

In [108]:
# Connect to the Redshift cluster
conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(DWH_ENDPOINT,DWH_DB,DWH_DB_USER,DWH_DB_PASSWORD,DWH_PORT))
cur = conn.cursor()

In [115]:
# Get number of row in the table songplays
pd.read_sql_query("""SELECT COUNT(*) AS N FROM songplays""", con = conn)

     n
0  333

In [110]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cm4n7audtsr1.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.OperationalError) SSL SYSCALL error: EOF detected

[SQL: SELECT * FROM users LIMIT 5;]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [111]:
pd.read_sql_query("""SELECT COUNT(*) AS N FROM users""", con = conn)

     n
0  104

In [112]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cm4n7audtsr1.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOAACFC12A8C140567', 'Supernatural Pt. II', 'ARNHTE41187B99289A', 0, 343.09179),
 ('SOAACTC12AB0186A20', 'Christmas Is Coming Soon', 'ARXWFZ21187FB43A0B', 2008, 180.76689),
 ('SOAADJH12AB018BD30', 'Black Light (Album Version)', 'AR3FKJ61187B990357', 1975, 385.90649),
 ('SOAAEHR12A6D4FB060', 'Slaves & Bulldozers', 'AR5N8VN1187FB37A4E', 1991, 415.81669),
 ('SOAAFUV12AB018831D', 'Where Do The Children Play? (LP Version)', 'AR5ZGC11187FB417A3', 0, 216.05832)]

In [116]:
pd.read_sql_query("""SELECT COUNT(*) AS N FROM songs""", con = conn)

       n
0  14896

In [117]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cm4n7audtsr1.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR00MQ31187B9ACD8F', 'Chris Carrier', '', None, None),
 ('AR01S3D1187FB50A53', 'Charlie Parr', 'Minnesota', None, None),
 ('AR01WHF1187B9B53B8', 'Lullatone', 'Nagoya, Japan', None, None),
 ('AR039B11187B9B30D0', 'John Williams', 'NEW YORK, New York', None, None),
 ('AR040QX1187FB4CFE1', 'Alexisonfire', 'St. Catharines, ON, Canada', None, None)]

In [118]:
pd.read_sql_query("""SELECT COUNT(*) AS N FROM artists""", con = conn)

       n
0  10025

In [119]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cm4n7audtsr1.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 2, 16, 35), 16, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 3, 1, 12, 26), 1, 3, 44, 11, 2018, '6'),
 (datetime.datetime(2018, 11, 3, 17, 59, 1), 17, 3, 44, 11, 2018, '6'),
 (datetime.datetime(2018, 11, 3, 18, 19, 10), 18, 3, 44, 11, 2018, '6'),
 (datetime.datetime(2018, 11, 3, 19, 33, 39), 19, 3, 44, 11, 2018, '6')]

In [103]:
pd.read_sql_query("""SELECT COUNT(*) AS N FROM time""", con = conn)

     n
0  319

# Step 5 Clean up your resources
DO NOT RUN THIS UNLESS YOU ARE SURE

In [120]:
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'ClusterAvailabilityStatus': 'Modifying',
  'MasterUsername': 'dwhuser',
  'DBName': 'dwh',
  'Endpoint': {'Address': 'dwhcluster.cm4n7audtsr1.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2023, 2, 3, 12, 16, 53, 884000, tzinfo=tzutc()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ManualSnapshotRetentionPeriod': -1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-04c8836faeb8bb621',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-0d153cb688ae4965e',
  'AvailabilityZone': 'us-west-2d',
  'PreferredMaintenanceWindow': 'sat:07:30-sat:08:00',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 2,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::701898129859:role/dwhRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current',
  'DeferredMaintenanceWindows': [],
  'NextMaintenanceWindowStartTime': datetime.datetime(2023, 2, 4, 7, 30, tzinfo=tzutc()),
  'TotalStorageCapacityInMegaBytes': 800000,
  'AquaConfiguration': {'AquaStatus': 'disabled',
   'AquaConfigurationStatus': 'auto'}},
 'ResponseMetadata': {'RequestId': '37db212b-9068-4668-bdf7-810a432ffa9b',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '37db212b-9068-4668-bdf7-810a432ffa9b',
   'content-type': 'text/xml',
   'content-length': '2711',
   'date': 'Fri, 03 Feb 2023 13:59:25 GMT'},
  'RetryAttempts': 0}}

run this block several times until the cluster really deleted

In [122]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

etl.py:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  import psycopg2

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,deleting
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cm4n7audtsr1.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-0d153cb688ae4965e
7,NumberOfNodes,2

Once the Redshift cluster is deleted we delete the permission '0.0.0.0/0' in the security group of the Redshift cluster that we have created.

In [ ]:
try:
    # Get the security group
    defaultSg = ec2.SecurityGroup(id=myClusterProps['VpcSecurityGroups'][0]['VpcSecurityGroupId'])
    
    # Revoke the permissions of '0.0.0.0/0' in the security group
    defaultSg.revoke_ingress(IpPermissions=defaultSg.ip_permissions)
except Exception as e:
    print(e)

Finally, we detach and delete the IAM role that we created before for the Redshift cluster.

In [ ]:
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)